aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
branca==0.4.1
certifi==2020.4.5.1
chardet==3.0.4
folium==0.11.0
idna==2.9
idna-ssl==1.1.0
Jinja2==2.11.3
markup==0.2
MarkupSafe==1.1.1
multidict==4.7.6
numpy==1.18.5
pandas==1.0.4
pkg-resources==0.0.0
PyMySQL==0.9.3
pyTelegramBotAPI==3.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.7.0
six==1.15.0
telebot==0.0.3
telegram==0.0.1
typing-extensions==3.7.4.2
urllib3==1.25.9
yarl==1.4.2
